@page "/Paradas"
@inject Turno turno;
@inject IDataTieParTp DataTieParTp;

<PageTitle>Tiempo Perdido</PageTitle>

<BSContainer PaddingBottom="Padding.Large">
    <BSRow>
        <h1 class="titulo">NEO</h1>
    </BSRow>
</BSContainer>

@code{
    
    public TurnoTp turnoTp {get; set;}

    public List<TieParTp> listaParadas {get; set;}

    protected override async Task  OnInitializedAsync()
    {
        turnoTp  = turno.turnoTp;
        listaParadas = await DataTieParTp.ObtenerParadas(turnoTp.IdTurnoTp);
    }
    
}