@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject Turno turno;

<PageTitle>Tiempo Perdido</PageTitle>

<div class="page">

    <AuthorizeView>
        <Authorized>

            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4 cabeza">
                    <h5 style="text-align: start;">
                    </h5>
                    @if(turno.turnoTp != null){
                        <BSButton Color="BSColor.Success" IsOutlined="true" @onclick="logout">Cerrar Turno</BSButton>
                    }
                </div>
                <CascadingValue Value="@turnoTp">
                    <article class="content px-4">
                        @Body
                    </article>
                </CascadingValue>
            </main>

            <RadzenNotification />
        </Authorized> 

        <NotAuthorized>
            <main>
                <div class="text-center fondo">
                    <div class="form-signin w-25 m-auto loginform ">
                        <BSAlert IsOpen="_showTooltip" style="height:55px;" class="alertaInfo">
                            <h5>@mensaje</h5>
                        </BSAlert> 

                        <img class="mb-4" id="logoLogin" src="./img/Neo.png">
                        <h1 class="h3 mb-3 fw-normal">Inicie Sesión</h1>
                                <BSLabel IsHidden="true">User</BSLabel>

                                <BSInput InputType="InputType.Text" Required placeholder="Usuario"
                                    @bind-Value="usuario" />
                        
                                <BSInput InputType="InputType.Password" Required placeholder="Contraseña"
                                    @bind-Value="contrasena" />
                                
                            <br>
                            <BSButton IsDisabled="@isDisabled" @onclick=login Class="w-100 btn btn-lg" Color="BSColor.Success" Size="Size.ExtraExtraLarge">login</BSButton>
                    </div>
                </div>              
            </main>
        </NotAuthorized>

    </AuthorizeView> 

</div>

@code {

    public TurnoTp turnoTp {get; set;}
    private string? mensaje { get; set;} = "Bienvenido";
    private bool isDisabled  { get; set;} = false;
    private string proyecto { get; set;} = "";
    private string usuario {get; set;} = "";
    private string contrasena {get; set;} = "";
    public string CCProducto {get; set;}
    public int idLinea {get; set;}

    private UserLoginDto userDto {get; set;}

    private HttpResponseMessage result {get; set;}

    private string validarToken  {get; set;}
    
    protected override async Task  OnInitializedAsync()
    {
        mensaje = "Ingrese la ficha";
        proyecto = "TiempoPerdido";
        userDto = new UserLoginDto() ;
        turnoTp = new TurnoTp();
    }



    protected async Task logout(){
        //await LocalStorage.RemoveItemAsync(proyecto);
        turno.turnoTp = null;
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }


    protected async Task login(){
        isDisabled = true;
        mensaje = "Cargando...";
        if (usuario.Trim() != "" && contrasena.Trim() != "")
        {
            userDto.Proyecto = proyecto;
            userDto.UserName = usuario;
            userDto.Password = contrasena;
            result = await Http.PostAsJsonAsync("http://neo.paveca.com.ve/Authentication/api/Auth/Login", userDto);
            validarToken = await result.Content.ReadAsStringAsync();
            if (validarToken != null)
            {
                if (validarToken == "NotFoundUser")
                {
                    mensaje = "Verifique el usuario";
                }
                else if (validarToken == "WrongPassword")
                {
                    mensaje = "Verifique la contraseña";
                }
                else if (validarToken == "null")
                {
                    mensaje = "Verifique el usuario";
                }
                else
                {
                    await LocalStorage.SetItemAsync("TiempoPerdido", validarToken);
                    await AuthStateProvider.GetAuthenticationStateAsync();    
                    NavigationManager.NavigateTo("");
                    mensaje = "Bienvenido";
                }
            }else{
                mensaje = "Hubo un error. Por favor intende de nuevo";
            }
        }else{
            mensaje = "Ingrese un usuario, contraseña valida y ficha valida";
        }
        isDisabled = false;
    }
}